* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  background-color: #4c4f57;
  color: #ebebeb;
  font-family: monospace;
  font-size: 14pt;
}

a {
  color: #ebebeb;
}

li {
  list-style: none;
}

.grid {
  display: table;
}
.cell {
  display: table-cell;
  padding: 1em;
}
.left {
  height: 100%;
  width: 200px;
  border-right: 4px dashed #ebebeb;
}
.right {
  height: 100%;
  vertical-align: top;
  padding: 1em 2em;
}
.info {
  font-size: 12pt;
  margin-bottom: 1em;
}
.content-tree {
  font-size: 10pt;
}
.article {
  width: 640px;
}